.header {
    background: #0000002f;
	/* backdrop-filter: blur(10px); */
    padding: 8px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid #ffffff2d;
}

.header-content {
    margin: 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 40px;
		justify-content: space-between;
}

.left-side{
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.logo:hover {
    color: #af4c4c;
    transition: color 0.3s ease;
}

.nav-links {
    display: flex;
    gap: 30px;
		margin-right: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
		font-size: large;
		font-weight: bold;
}

.nav-links a:hover {
    color: #4CAF50
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-container.open .search-input {
    width: 200px;
    padding: 8px 12px;
    opacity: 1;
}

.search-input {
    position: absolute;
    right: 100%;
    width: 0;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    background: #333;
    color: white;
    transition: all 0.3s;
    opacity: 0;
    font-size: 0.9rem;
}

.search-input:focus {
    outline: none;
    background: #444;
}

.user-menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-button, .logout-button {
    background: none;
    border: 1px solid #4CAF50;
    color: #4CAF50;
    padding: 4px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.login-button:hover, .logout-button:hover {
    background: #4CAF50;
    color: white;
}

.MuiIconButton-root {
    color: white !important;
    padding: 6px !important;
}

.MuiBadge-badge {
    background-color: #4CAF50 !important;
}

.cart-button,
.wishlist-button {
    position: relative;
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 5px;
    margin: 0 10px;
}

.cart-count,
.wishlist-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background: #ff4444;
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-button:hover,
.wishlist-button:hover {
    color: #00ffcc;
} 